{% extends "base_generic.html" %}
{% load staticfiles %}\
{% load widget_tweaks %}

{% block title %}AccidentDetails{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <div class="page-header">
          <h1>Accident Details </h1>
    </div>
    <div class="container">
        <div class="header">
        <ul style="padding-right:60px" class="nav nav-pills pull-right">

          <li {% if bootstrap == 3 %} class="active"{% endif %}><a href="/model_form_v3/"></a></li>
        </ul>

    </div>
    <div role="tabpanel">
      <ul class="nav nav-tabs">

        <li role="presentation" class="active"><a href="#tabs-1" aria-controls="tabs-1" role="tab" data-toggle="tab">Accident Details</a></li>
      </ul>
      <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tabs-1">
        <form action="{{ action }}" method="POST">
          <table>
          {% csrf_token %}
          {{ formA.non_field_errors }}
          <tr>
            <td style="padding-bottom:10px;">
                <div class="fieldWrapper">
                    {{ formA.client.errors }}
                    <p><label class="col-sm-3" for="{{ formA.client.id_for_label }}">Client</label></p>
                    <div class="col-sm-9">{{ formA.client|add_class:"form-control" }}</div>
                </div>
            </td>
          </tr>
          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ formA.date_of_accident.errors }}
                      <p><label class="col-sm-3" for="{{ formA.date_of_accident.id_for_label }}">Date of Accident </label></p>
                      <div class="col-sm-9">{{ formA.date_of_accident|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ formA.time_of_accident.errors }}
                      <p><label class="col-sm-3" for="{{ formA.time_of_accident.id_for_label }}">Time of Accident </label></p>
                      <div class="col-sm-9">{{ formA.time_of_accident|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ formA.weather_condition.errors }}
                      <p><label class="col-sm-3" for="{{ formA.weather_condition.id_for_label }}">Weather At The Time of Accident </label></p>
                      <div class="col-sm-9">{{ formA.weather_condition|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ formA.city_of_accident.errors }}
                      <p><label class="col-sm-3" for="{{ formA.city_of_accident.id_for_label }}">City of Accident </label></p>
                      <div class="col-sm-9">{{ formA.city_of_accident|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ formA.intersection_of_accident.errors }}
                      <p><label class="col-sm-3" for="{{ formA.intersection_of_accident.id_for_label }}">Location of Accident </label></p>
                      <div class="col-sm-9">{{ formA.intersection_of_accident|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ formA.police_report.errors }}
                      <p><label class="col-sm-3" for="{{ formA.police_report.id_for_label }}">Police Report Filed? </label></p>
                      <div class="col-sm-9">{{ formA.police_report|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ formA.police_report_number.errors }}
                      <p><label class="col-sm-3" for="{{ formA.police_report_number.id_for_label }}">Police Report Number </label></p>
                      <div class="col-sm-9">{{ formA.police_report_number|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ formA.accident_description.errors }}
                      <p><label class="col-sm-3" for="{{ formA.accident_description.id_for_label }}">Description of Accident </label></p>
                      <div class="col-sm-9">{{ formA.accident_description|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ formA.incident_photos.errors }}
                      <p><label class="col-sm-3" for="{{ formA.incident_photos.id_for_label }}">Any photos of the Incident? </label></p>
                      <div class="col-sm-9">{{ formA.incident_photos|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ formA.witness.errors }}
                      <p><label class="col-sm-3" for="{{ formA.witness.id_for_label }}">Any witness?</label></p>
                      <div class="col-sm-9">{{ formA.witness|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ formA.paramedics.errors }}
                      <p><label class="col-sm-3" for="{{ formA.paramedics.id_for_label }}">Paramedics at the scene?</label></p>
                      <div class="col-sm-9">{{ formA.paramedics|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ formA.emergency_treatment.errors }}
                      <p><label class="col-sm-3" for="{{ formA.emergency_treatment.id_for_label }}">Taken to ER? </label></p>
                      <div class="col-sm-9">{{ formA.emergency_treatment|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>

          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ formA.urgentcare_treatment.errors }}
                      <p><label class="col-sm-3" for="{{ formA.urgentcare_treatment.id_for_label }}">Did you go to Urgent Care? </label></p>
                      <div class="col-sm-9">{{ formA.urgentcare_treatment|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>

        </table>
        <a class="btn btn-primary btnPrevious" >Previous</a>

        <button type="submit" class="save btn btn-primary">Save</button>
      </form>
  </div>
  </div>
  </div>
  </div>

  <script type="text/javascript">
  $('.btnNext').click(function(){
  $('.nav-tabs > .active').next('li').find('a').trigger('click');
  });

  $('.btnPrevious').click(function(){
  $('.nav-tabs > .active').prev('li').find('a').trigger('click');
  });
  </script>
  {% endif %}
  {% endblock %}
