{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
{% if user.is_authenticated %}

    <div class="page-header">
          <h1>Appointments</h1>

          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

            <div class="table-responsive">
            <table id="appointment_list" class="table table-hover">
              
                <thead>
                    <tr>
                        <th>Caller Name</th>

                        <th>Reason for Appointment</th>
                        <th>Notes</th>
                        <th>Phone No.</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Cancel / Edit</th>
                    </tr>
                </thead>
                <tbody>
                  {% if appointment_list %}
                  <ul>
                  {% for n in appointment_list %}
                    <tr>
                        <td><a href="/client_detail/">{{n.caller_first_name}} {{n.caller_last_name}}</a></td>
                        <td>{{n.type_of_appointment}}</td>
                        <td>{{n.further_appointment_notes}}</td>
                        <td>{{n.phone_number}}</td>
                        <td>{{n.appointment_date}}</td>
                        <td>{{n.appointment_time}}</td>
                        <td><button type="button" class="btn btn-primary">Cancel</button> <a class="btn btn-default" href="/appointment/"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                    {% endfor %}
                  </ul>
                  {% else %}
                    <p>There are no scheduled appointments.</p>
                  {% endif %}
                </tbody>
            </table>
          </div>
    </div>


    <script type="text/javascript">

    <script type="text/javascript">


            jQuery(document).ready(function($) {
                $(window).load(function() {

                    $('#appointment').filterable({
                    prependWild: true, // If a wild card should be added to the start of all filter input
                    appendWild: true, // If a wild card should be added to the end of all filter input
                    ignoreCase: true, // If case should be ignored
                    ignoreColumns: [], // Array. Column indexes to not make filterable
                    onlyColumns: null, // Array. Column indexes to make filterable, all other columns are left non-filterable.
                    });
                });
            });
        </script>
        <script>
        function myFunction() {
          // Declare variables
          var input, filter, table, tr, td, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("appointment_list");
          tr = table.getElementsByTagName("tr");

          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
</script>

{% else %}
<p2>Please <a href="{% url 'login'%}?next={{request.path}}">Login</a> to access the requested information.</p2>
{% endif %}
{% endblock %}
