{% extends "base_generic.html" %}
{% load staticfiles %}\
{% load widget_tweaks %}

{% block title %}Call Log per Case{% endblock %}
{% block content %}
    <div class="page-header">
          <h1>Call Log</h1>
    </div>
    <div class="container">
        <div class="header">
        <ul style="padding-right:60px" class="nav nav-pills pull-right">

          <li {% if bootstrap == 3 %} class="active"{% endif %}><a href="/model_form_v3/"></a></li>
        </ul>

    </div>
    <div role="tabpanel">
      <ul class="nav nav-tabs">

        <li role="presentation" class="active"><a href="#tabs-1" aria-controls="tabs-1" role="tab" data-toggle="tab">Call Log</a></li>
      </ul>
      <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tabs-1">
        <form action="{{ action }}" method="POST">
          <table>
          {% csrf_token %}
          {{ form.non_field_errors }}
          <tr>
            <td style="padding-bottom:10px;">
                <div class="fieldWrapper">
                    {{ form.client.errors }}
                    <p><label class="col-sm-3" for="{{ form.client.id_for_label }}">Client</label></p>
                    <div class="col-sm-9">{{ form.client|add_class:"form-control" }}</div>
                </div>
            </td>
          </tr>
          <tr>
            <td style="padding-bottom:10px;">
                <div class="fieldWrapper">
                    {{ form.date_of_accident.errors }}
                    <p><label class="col-sm-3" for="{{ form.date_of_accident.id_for_label }}">Date of Accident</label></p>
                    <div class="col-sm-9">{{ form.date_of_accident|add_class:"form-control" }}</div>
                </div>
            </td>
          </tr>


          <tr>
            <td style="padding-bottom:10px;">
                <div class="fieldWrapper">
                    {{ form.call_date.errors }}
                    <p><label class="col-sm-3" for="{{ form.call_date.id_for_label }}">Date</label></p>
                    <div class="col-sm-9">{{ form.call_date|add_class:"form-control" }}</div>
                </div>
            </td>
          </tr>
          <tr>
            <td style="padding-bottom:10px;">
                <div class="fieldWrapper">
                    {{ form.caller_name.errors }}
                    <p><label class="col-sm-3" for="{{ form.caller_name.id_for_label }}"> Caller Name </label></p>
                    <div class="col-sm-9">{{ form.caller_name|add_class:"form-control" }}</div>
                </div>
            </td>
          </tr>

          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ form.call_notes.errors }}
                      <p><label class="col-sm-3" for="{{ form.call_notes.id_for_label }}"> Notes </label></p>
                      <div class="col-sm-9">{{ form.call_notes|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>
          <tr>
              <td style="padding-bottom:10px;">
                  <div class="fieldWrapper">
                      {{ form.caller_number.errors }}
                      <p><label class="col-sm-3" for="{{ form.caller_number.id_for_label }}">Phone Number </label></p>
                      <div class="col-sm-9">{{ form.caller_number|add_class:"form-control" }}</div>
                  </div>
              </td>
          </tr>
        </table>

        <button type="submit" class="save btn btn-primary">Save</button>
      </form>
  </div>
  </div>
  </div>
  </div>

  <script type="text/javascript">
  $('.btnNext').click(function(){
  $('.nav-tabs > .active').next('li').find('a').trigger('click');
  });

  $('.btnPrevious').click(function(){
  $('.nav-tabs > .active').prev('li').find('a').trigger('click');
  });
      </script>
  {% endblock %}
