{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}

    <div class="page-header">
          <h2 align="left">Call Log</h2>
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

            <div class="table-responsive">

            <table id="call_list" class="table table-hover">
                <thead>
                    <tr>
                        <th>Caller Name</th>
                        <th>Phone Number</th>
                        <th>Notes</th>
                        <th>Date</th>
                        <th>Client</th>
                        <th>Date of Accident</th>

                    </tr>
                </thead>
                <tbody>
                  {% if call_list %}
                  <ul>
                  {% for n in call_list %}
                    <tr>
                        <td>{{n.caller_name}}</td>
                        <td>{{n.caller_number}}</td>
                        <td>{{n.call_notes}}</td>
                        <td>{{n.call_date|date:"M d, Y"}}</td>
                        <td>{{n.client.first_name}} {{n.client.last_name}}</td>
                        <td>{{n.date_of_accident|date:"M d, Y"}}</td>

                    </tr>
                    {% endfor %}
                  </ul>
                  {% else %}
                    <p>There are no call records.</p>
                  {% endif %}

                </tbody>
            </table>

          </div>
          <script>
          function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("call_list");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[0];
              if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                } else {
                  tr[i].style.display = "none";
                }
              }
            }
          }
    </script>
        </div>

{% endblock %}
