{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}

    <div class="page-header">
          <h2 align="left">Call Log</h2>

            <div class="table-responsive">
            <table id="call_list" class="table table-hover">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Date of Accident</th>
                        <th>Caller Name</th>
                        <th>Phone Number</th>
                        <th>Notes</th>
                        <th>Date</th>

                    </tr>
                </thead>
                <tbody>
                  {% if call_list %}
                  <ul>
                  {% for n in call_list %}
                    <tr>
                        <td><a href="/client_detail/">{{n.client.first_name}} {{n.client.last_name}}</td>
                        <td>{{n.date_of_accident}}</td>
                        <td>{{n.caller_name}}</td>
                        <td>{{n.caller_number}}</td>
                        <td>{{n.call_notes}}</td>
                        <td>{{n.call_date}}</td>
                    </tr>
                    {% endfor %}
                  </ul>
                  {% else %}
                    <p>There are no call records.</p>
                  {% endif %}
                </tbody>
            </table>
          </div>
    </div>


    <script type="text/javascript">

    <script type="text/javascript">


            jQuery(document).ready(function($) {
                $(window).load(function() {

                    $('#appointment').filterable({
                    prependWild: true, // If a wild card should be added to the start of all filter input
                    appendWild: true, // If a wild card should be added to the end of all filter input
                    ignoreCase: true, // If case should be ignored
                    ignoreColumns: [], // Array. Column indexes to not make filterable
                    onlyColumns: null, // Array. Column indexes to make filterable, all other columns are left non-filterable.
                    });
                });
            });
        </script>

<script>
function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("call_list");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[0];
      y = rows[i + 1].getElementsByTagName("TD")[0];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>

{% endblock %}
