{% extends "base_generic.html" %}

{% block content %}
{% if user.is_authenticated %}

    <h1>Christmas List</h1>

    <div class="container">
            <table id="client_list" class="table table-hover">
                <thead>
                    <tr>
                          <th class="col-md-1">Client</th>
                          <th class="col-md-1">Address</th>
                          <th class="col-md-1">Phone Number</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% if christmas_list %}
                      <ul>

                        {% for client in christmas_list %}

                        <tr>
                          <td>{{ client.first_name }} {{ client.last_name }}</td>
                          <td>{{client.address.address_1}} {{address.address_2}} , {{address.city}}, {{address.state}}, {{address.zip_code}}</td>
                          <td>{{ client.phone_number }}</td>
                        </tr>
                        {% endfor %}

                      </ul>
                      {% else %}
                        <p>There are no clients in the system.</p>
                      {% endif %}
                  </tbody>
            </table>
      </div>

{% else %}
    <p2>Please <a href="{% url 'login'%}?next={{request.path}}">Login</a> to access the requested information.</p2>
{% endif %}

{% endblock %}
