{% extends 'base_generic.html' %}

{% load staticfiles %}
{% block title %}Welcome to Law Office{% endblock %}
{% block content %}


<div style="padding-left:40px;" class="page-header">
    {% if user.is_authenticated %}
            <h2>Welcome, {{ user.get_username }} !</h2>
    {% else %}
            <h1>Welcome to Law Office</h1>
    {% endif %}
</div>

<div class="container">
  <ul style="list-style-type:none">
    {% if request.user.is_authenticated %}

    <h2>Client</h2>
    <div class="list-group">
      <a href="{% url 'add_client' %}" class="list-group-item">Add New Client</a>
      <a href="{% url 'clients' %}" class="list-group-item">View All Clients</a>
      <a href="{% url 'new_client_signup' %}" class="list-group-item">Add Case Details</a>
      <a href="{% url 'court_details' %}" class="list-group-item">Add Court Dates</a>

    </div>
  <h2>Appointment</h2>
    <div class="list-group">
      <a href="{% url 'appointment_details' %}" class="list-group-item">Add New Appointment</a>
      <a href="{% url 'appointment_list' %}" class="list-group-item">View All Appointments</a>
    </div>
  <h2>Call Log</h2>
    <div class="list-group">
    <a href="{% url 'call_log' %}" class="list-group-item">Add New Entry</a>
    <a href="{% url 'call_list' %}" class="list-group-item">View Call Log</a>
    </div>
  <h2>Other Party Information</h2>
      <div class="list-group">
      <a href="{% url 'otherparty_info' %}" class="list-group-item">Add Details</a>
      </div>
  <h2>Data Analytics</h2>
      <div class="list-group">

        <a href="{% url 'testgraph' %}" class="list-group-item">View Charts</a>

      </div>

    {% else %}

  </div>

<form id="login_form" class="form-signin" role="form" method="post" action=".">
  {% csrf_token %}

  <h2 class="form-signin-heading">Please Sign In</h2>
  <input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>

  <input type="password" class="form-control" placeholder="Password" id="password" name="password" type="password" required />

  <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />Sign in</button>
</form>

{% endif %}
</ul>
</div>




<!-- ------------ Javascript ----------------- -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(window).load(function() {

                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    editable: true
                });
            });
        });
    </script>
{% endblock %}
