
{% extends "base_generic.html" %}
{% load staticfiles %}\
{% load widget_tweaks %}

{% block title %}Make an Appointment{% endblock %}

{% block content %}


<script type="text/javascript">

window.onload = function () {
	
var chart = new CanvasJS.Chart("chartContainer1",
		{
				animationEnabled: true,
				title: {
						text: "Accidents by City",
				},
				data: [
				{
						type: "pie",
						dataPoints: {{city_data|safe}}

				},
				]
		});
chart.render();

	var chart = new CanvasJS.Chart("chartContainer2",
	    {
	        animationEnabled: true,
	        title: {
	            text: "Accident & Weather Conditions",
	        },
	        data: [
	        {
	            type: "pie",
							dataPoints: {{pie_data|safe}}

	        },
	        ]
	    });
	chart.render();

	var chart = new CanvasJS.Chart("chartContainer3",
	    {
	        animationEnabled: true,
	        title: {
	            text: "Accidents by Month"
	        },
	        axisX: {
	            valueFormatString: "MMM",
	            interval: 1,
	            intervalType: "month"
	        },
	        axisY: {
	            includeZero: false
	        },
	        data: [
	        {
	          type: "line",
						dataPoints: {{trend_data|safe}}
	        }
	        ]
	    });
	chart.render();

	var chart = new CanvasJS.Chart("chartContainer4",
	    {
	        animationEnabled: true,
	        title: {
	            text: "Accidents By Gender"
	        },

					data: {{ data_content|safe }}

	    });
	chart.render();

}
</script>
<div id="chartContainer1" style="width: 45%; height: 300px;display: inline-block;"></div>
<div id="chartContainer2" style="width: 45%; height: 300px;display: inline-block;"></div><br/>
<div id="chartContainer3" style="width: 45%; height: 300px;display: inline-block;"></div>
<div id="chartContainer4" style="width: 45%; height: 300px;display: inline-block;"></div>

{% endblock %}
